* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 20px;
}
h2 {
border-bottom: 1px solid black;
margin: 10px;
padding: 5px;
}
.todo {
  height: 40px;
  margin: 40px;
  background-color: orange;
  position: relative;
  font-weight: bold;
  font-size: 14px;
}
/* .todo li {
  font-weight: bold;
  font-size: 14px;
} */
.delete {
  position: absolute;
  top:0;
  right: 20px;
}
