* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 20px;
}
h2 {
border-bottom: 1px solid black;
margin: 10px;
padding: 5px;
}
.todo {
  height: 40px;
  margin: 40px;
  background-color: grey;
  position: relative;
  font-weight: bold;
  font-size: 14px;

}
.delete {
  position: absolute;
  top:0;
  right: 20px;
}
#update {
  height: 40px;
  width: 100%;
  border: 1px solid grey;
  background-color: grey;
}
